/* .items {
  list-style: none;
  /* display: grid; */
/* } */
.headingp {
  color: rgb(120, 58, 219);
  text-align: center;
}
.headingp:hover {
  color: black;
  animation: rotate 4s linear;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.search {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.searchh {
  box-sizing: border-box;
  box-shadow: 2px 3px 4px rgb(120, 58, 219);
  border-radius: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.searchh:hover {
  transform: scale(1.05);
  box-shadow: 4px 6px 8px rgb(120, 58, 219);
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  border: 1px solid rgb(120, 58, 219);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 3px 4px rgb(120, 58, 219);
}

.image {
  width: 150px;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  /* box-sizing: border-box; */
}
.product-card:hover {
  transform: rotateY(10deg) rotateX(10deg);
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.3);

  box-shadow: 4px 6px 8px rgb(120, 58, 219);
}

.titlep {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-details {
  margin-top: 10px;
  text-align: left;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: rgb(120, 58, 219);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #222324;
  color: beige;
}
